<link href="@Url.Content("~/Content/portfolio-home.css")" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-6 col-12">
        <p>HIIII</p>
    </div>
    <div class="col-md-6 col-12">
        <img id="home-picture" src="~/Content/Pictures/alex.jpg" />
    </div>
</div>