body {
}

.education-carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding-top: 100%;
}

#education-carousel {
    width: 40rem;
    margin: 0 10px;
}

#education-details-body-container {
    margin-top: 10px;
}