body {
}

.project-details-carousel-item {
    /*    background-position: center center;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding-top: 56%;
}

#project-details-carousel {
    width: 100%;
    margin: 0 10px;
}

.project-details-arrow {
    background-color: gray;
}

#project-details-body-container {
    margin-top: 10px;
}

.project-details-indicator {
    background-color: gray !important;
}

.project-details-indicator.active {
    background-color: lightgray !important;
}