body {

}

#contact-header-text {
    text-align: center;
    margin-bottom: 1em;
}

#contact-container {
    position: relative;
    width: auto;
}

#contact-content {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#contact-send-email-footer{
    display: inline-flex;
}

#contact-send-email-confirm {
    margin-right: 20px;
    color: forestgreen;
}

#contact-send-email-message {
    min-height: 150px;
}

#contact-header-text-input {
    min-height: 40px;
}

#contact-separator {
    display: none;
}

#contact-email-error-message {
    visibility: collapse;
    height: 0px;
}

@media (max-width: 768px) {
    #contact-separator {
        display: block;
        margin-bottom: 30px;
    }

    #contact-header-text-input {
        min-height: 150px;
    }
}