body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.nav-link.selected {
    color: white !important;
}

@media (min-width: 768px) {
    .login-link-collapse {
        display: none;
    }
}

@media (max-width: 768px) {
    .login-link-expand {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .menu-link-title {
        display: none;
    }
}

.login-link {
    position: relative;
    float: right;
}

.login-link > a {
    color: white;
}