body {
}

.education-picture {
    background-image: url(Pictures/alex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding-top: 100%;
}

.card-subtitle {
    margin-bottom: 5px;
}

.card {
    width: 18rem;
}
