body {
}

.work-picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding-top: 100%;
}

.card-subtitle {
    margin-bottom: 5px;
}

.col {
    margin-bottom: 10px;
}

.card {
    width: 18rem;
}