body {

}

#about-alex {
    background-image: url(Pictures/alex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    box-shadow: 0 0 5px 5px white inset;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 100%;
}

#about-summary {
    margin: 0px;
}

@media (max-width: 768px) {
    #about-alex {
        display: none;
    }
}