body {

}

#about-alex {
    background-image: url(Pictures/alex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    box-shadow: 0 0 5px 5px white inset;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 100%;
}

#about-summary {
    margin: 0px;
}

@media (max-width: 768px) {
    #about-alex {
        display: none;
    }
}

#about-facebook {
    background: -webkit-linear-gradient(#19aeff, #0062e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about-instagram {
    color: orangered;
}

#about-instagram-logo {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#about-linkedin {
    color: #0274b3;
}

#about-github {
    color: #323131
}