body {
    padding-top: 0px;
    padding-bottom: 20px;
    color: #888;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 70px 15px 30px 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.modal-open .fixed-top,
.modal-open .fixed-bottom{
    padding-right: 16px !important;
}

.modal-open{
    overflow: inherit;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.nav-link.selected {
    color: white !important;
}

.dashboard {
    height: 40px;
}

.dashboard-apply-changes {
    display: none;
}

.login-link {
    position: relative;
    float: right;
}

.login-link > a {
    color: white;
}

.auth-input-error-message {
    visibility: collapse;
    height: 0px;
}

.tooltip {
    margin-top: 5px;
    visibility: collapse;
}

.copyright{
    font-size: 0.8rem;
    margin: 0.4rem 0rem;
}

.modal-sign {
    display: inline-flex;
}

@media (min-width: 768px) {
    .login-link-collapse {
        display: none;
    }
}

@media (max-width: 768px) {
    .login-link-expand {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .menu-link-title {
        display: none;
    }
    .tooltip {
        visibility: visible;
    }
}